<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="{{site.themeColor}}">
	<meta content="{{site.keywords}}" name="keywords">
	<meta name="description" content="{{page.description}}">
	<meta property="og:description" content="{{page.description}}">
	<meta name="author" content="{{site.developer}}" >
	<link href="{{site.addr}}{{site.favicon}}" rel="icon">
	{{#if page.cover}}
			<meta content="{{page.cover}}" property="og:image">
			<meta name="twitter:image" content="{{page.cover}}"/>
			<meta name="image" content="{{page.cover}}"/>
		{{else}}
			<meta content="{{site.addr}}{{site.image}}" property="og:image">
			<meta name="twitter:image" content="{{site.addr}}{{site.image}}"/>
			<meta name="image" content="{{site.addr}}{{site.image}}"/>
	{{/if}}
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="{{site.domain}}"/>
	<meta name="twitter:title" content="{{page.title}}"/>
	<meta name="title" content="{{page.title}}"/>
	<meta name="twitter:description" content="{{page.description}}"/>
	<link href="{{site.addr}}{{site.appleFavicon}}" rel="apple-touch-icon">
	<meta name="twitter:creator" content="{{site.brand}}"/>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var socket = io();
	{{!-- var dnow = {{dnow}};
	var year = {{date.year}};
	var siteurl = "{{site.addr}}";
	var csrfx = "{{_csrfToken}}"; --}}
	</script>
	{{!-- font awesome --}}
	<link rel="stylesheet" href="/frameworks/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
	<link rel="stylesheet" href="/frameworks/fontawesome-free-6.3.0-web/css/brands.min.css">
	<link rel="stylesheet" href="/frameworks/fontawesome-free-6.3.0-web/css/solid.min.css">
	<script src="/frameworks/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/script.js"></script>
	{{#if page.script}}
	<script src="/js/{{page.script}}.js"></script>
	{{/if}}
	{{#if page.style}}
	<link rel="stylesheet" href="/css/{{page.style}}.css" />
	{{/if}}
	{{#if page.ni}}
		<meta name="robots" content="noindex">
	{{/if}}

	{{{_sections.head}}}
</head>
<body>
	{{>preloader}}
	{{{body}}} 
	{{>btt}}
		{{#if page.share}}
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-641d27801c480489"></script>
		{{/if}}
</body>
</html>

