{{>preloader}}

{{>header}}
	
        <section class="container">
            <div id="intro">
                <div id="intro-inner">
                    <div id="intro-left">
                    </div>
                    <div id="intro-right">
                        <h1>Create A Link To Receive Anonymous Messages</h1>
                        <span>
                           {{! Become acquainted with how your friends, family and fans secretly feel about you}}
						   Give the people around you a chance to truly express themselves to you without holding back
                        </span>
                        <a href="/create-link">CREATE A LINK</a>
                    </div>
                </div>
            </div>
    
            <div class="features">
                <div class="feature">
                    <div class="feature-inner">
                        <i class="fa-solid fa-user-secret"></i>
                        <h2>Truly Anonymous</h2>
                        <p>No tracking of any kind, not even IP tracking.</p>
                        <a href="/create-link">CREATE A LINK</a>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-inner">
                        <i class="fa-regular fa-clock"></i>
                        <h2>Real Time Notifiations</h2>
                        <p>Get an immediate notification on your email for every new anonymous message. This feature is coming soon, for email subscribers.</p>
                        <a href="/create-link">CREATE A LINK</a>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-inner">
                        <i class="fa-solid fa-infinity"></i>
                        <h2>Messages that never expire</h2>
                        <p>Be able to access your messages forever any time you log in.</p>
                        <a href="/create-link">CREATE A LINK</a>
                    </div>
                </div>
            </div>
    
            <div class="about">
                <div class="about-img">
                    <div class="about-inner">
                        <img src="/img/icon.png" alt="{{site.brand}}">
                    </div>
                </div>
                <div class="about-det">
                    <div class="about-inner">
                        <h2>About {{site.brand}}</h2>
                        <p>
                            {{site.brand}} is a website which provides a service that allows its users to create links 
                            (profiles) which
                            they can share to their family, friends, fans, followers, groups, e. t. c. to receive completely anonymous 
                            messages from them. Such links are completely free and permanent in which anonymous messages remain accessible forever.
                            <br><br>
                            This website can be of great importance in getting to know how people actually feel about you by allowing
                            them express themselves to you without fear of being known. For example, when your crush creates a link
                            and shares it, you can use it to anonymously tell him/her/them how you feel about him/her/them.
                            <br><br>
                            This website can also be used/utilised in gathering the anonymous and actual opinions of individual 
                            persons in a group, conduct surveys and polls, get anonymous confessions, gather anonymous votes, and 
                            all other ways within and beyond the boundaries of creativity.
                            <br><br>
                            <em><Strong>Please note that </Strong> {{site.brand}} does not in any form track the senders of anonymous messages
                            and is not responsible for those anonymous messages or any effect(s) that may be caused by them. {{site.brand}} only
                            provies a platform to exchange anonymous messages with the aim of allowing people fully express themselves, hence, 
                            it is advisable to use this platform responsibly and to avoid using it as a tool to cause harm to other people.
                            </em><br><br>
                            For queries, suggestions, reports, e.t.c., please feel free to email us at <a href="mailto:{{site.email}}">{{site.email}}</a> and we will get back to you as soon as we can. 
                            Thank you for using this website !
                            <br><br>
                            Please have fun !!
                            <br><br><br><a href="/create-link">Click here to create a link to receive anonymous messages</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
{{>footer}}
{{>btt}}
